=layout :layout
-content_for :title do
	%title Hola
	=render :header
	.content 
		primo div della pagina
		%section.sezioneHome
			%article.sezioneHome__item
				Lorem ipsum dolor sit amet
			%article.sezioneHome__item
				Lorem ipsum dolor sit amet
		%section
			%article.sezioneHome__item
				hola hola
			%article.sezioneHome__item
				hola dos
